<%- include('partials/header') %>
<main>
  <h1>Edit Category</h1>

  <form action="/edit-category/<%= categoryDetails.category_id %>" method="POST">
    
    <div class="form-group">
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        maxlength="100"
        value="<%= categoryDetails.category_name %>"
      />
    </div>

    <button type="submit">Update Category</button>

  </form>
</main>

<%- include('partials/footer') %>