<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
         <h2>Welcome to the CSE 340 Service Network!</h2>

        <p class="home-text">
            Our mission is to promote service across the world by connecting volunteers 
            with meaningful opportunities in their communities.
        </p>

        <img 
            class="main-logo" 
            src="/images/cse340-service-network.png" 
            alt="CSE 340 Service Network Logo"
            loading="lazy"
        >

        <div class="home-actions">
            <a href="/organizations" class="btn-secondary">View Organizations</a>
            <a href="/projects" class="btn-secondary">Explore Projects</a>
            <a href="/categories" class="btn-secondary">Browse Categories</a>
        </div>
    </main>
<%- include('partials/footer') %>